<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="modalLabel"></h4>
            </div>
            <div class="modal-body text-center" id="modalContent">
            </div>
        </div>
    </div>
</div>
