<div class="container-fluid">
    <legend class="text-center"> Now Playing </legend>
    <div class="well">
        <div class="row">
            <div class="playing"></div>
        </div>
    </div>
</div>
