<%- include('../common/header'); %>
<div class="container-fluid">
    <% for(var i=0; i < 1; i++) { %>
            <div class="well">
                <div class="row text-center">
                    <h4> Now Playing: </h4>
                </div>

                <div class="row">

                  <div class="col-md-6 col-md-offset-3 text-center">
                          <a type="button" class="btn btn-lg btn-primary">
                                <%= queue[i].player1 %>
                                <i class="fa fa-trophy fa-lg fa-fw text-right"></i>
                          </a>
                          <label><h4> vs. </h4></label>
                          <a type="button" class="btn btn-lg btn-primary">
                                <i class="fa fa-trophy fa-lg fa-fw text-left"></i>
                                <%= queue[i].player2 %>
                          </a>
                  </div>

                  <div class="col-md-1 col-md-offset-2">
                    <a href="" class="btn btn-lg btn-danger" role="button">
                      <i class="fa fa-close fa-fw" aria-hidden="true"></i>
                    </a>
                  </div>

                </div>


                            <div class="row text-center">
                                <p> (Psst! Click the winner.) </p>
                            </div>

            </div>


    <% } %>
</div>
<%- include('../common/footer'); %>
