<nav class="navbar navbar-inverse" style="height:250px;">
  <div class="container-fluid">
    <h4 class="text-center"> Now Playing </h4>
    <div class="well">
        <div class="row">
            <div class="playing">

            </div>
        </div>
      </div>
      <h3>Up Next</h3>
      <div class="queue"></div>
  </div>
</nav>
