<div class="container-fluid">
    <legend class="text-center"> Queue </legend>
    <div class="queue">

    </div>

    <div class="panel panel-default">
      <div class="panel-body">
              <div class="row">
                <form class="form-inline">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="form-group">
                          <input type="text" class="form-control" id="player1" name="player1" placeholder="Player 1">
                        </div>
                        <label><h4> vs.</h4></label>
                        <div class="form-group">
                          <input type="text" class="form-control" id="player2" name="player2" placeholder="Player 2">
                        </div>
                    </div>
                </form>
                <div class="col-md-2">
                    <button id="createGame" class="btn btn-primary createGame">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    </button>
                </div>
              </div>
        </div>
    </div>
</div>
