<div class="container-fluid">
  <legend class="text-center"> Queue </legend>
  <div class="queue">
  <% if (queue && queue.length > 1) {%>
    <% for(var i=1; i < queue.length; i++) { %>
        <div class="well">
            <div class="row">
              <div class="col-md-4 col-md-offset-4 text-center">
                  <h4 class="text-center"><%= queue[i].player1 %> vs. <%= queue[i].player2 %></h4>
              </div>
              <div class="col-md-2 col-md-offset-2">
                <a href="/abandon/<%= queue[i]._id %>" class="btn btn-danger" role="button">
                  <i class="fa fa-close fa-fw" aria-hidden="true"></i>
                </a>
              </div>
            </div>
        </div>
    <% } %>
  <% } %>
  </div>

    <div class="panel panel-default">
      <div class="panel-body">
              <div class="row">
                <form class="form-inline">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="form-group">
                          <input type="text" class="form-control" id="player1" name="player1" placeholder="Player 1">
                        </div>
                        <label><h4> vs.</h4></label>
                        <div class="form-group">
                          <input type="text" class="form-control" id="player2" name="player2" placeholder="Player 2">
                        </div>
                    </div>
                </form>
                <div class="col-md-2">
                    <button id="createGame" class="btn btn-primary">
                        <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
                    </button>
                </div>
              </div>
        </div>
    </div>
</div>
