<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
      <div class="panel panel-default">
          <div class="panel-body">
              <div class="container">
                <div class="row">
                  <div class="col-xs-5">
                      <input type="text" class="form-control" id="player1" name="player1" minlength="2" maxlength="50" placeholder="Player 1">
                  </div>
                  <div class="col-xs-2 text-center">
                      <h4>vs.</h4>
                  </div>
                  <div class="col-xs-5">
                      <input type="text" class="form-control" id="player2" name="player2" minlength="2" maxlength="50" placeholder="Player 2">
                  </div>
                </div>
                <div class="row">
                  <div style="text-align:center">
                      <button id="createGame" type="button" class="btn btn-primary btn-disabled"><i class="fa fa-plus" aria-hidden="true"></i> Add Game</button>
                  </div>
                </div>
            </div>
          </div>
          <div class="panel-footer">
            <h3 class="panel-title">Manually add game to Queue</h3>
          </div>
      </div>
  </div>
</nav>
