<%= players %>
    <table class="table table-condensed table-striped">
      <thead class="thead-default">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Delta</th>
          <th>Elo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Jamie</td>
          <td>-5</td>
          <td>1043</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Jamie</td>
          <td>-5</td>
          <td>1043</td>
        </tr>
      </tbody>
    </table>

<%- include('../common/footer'); %>
