<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
        Game Selection
    </div>
    <div class="panel-body">
      <div class="row slotMachines">
        <div class="col-xs-5">
            <div id="random-player1" class="slotMachineContainer">

            </div>
        </div>
        <div class="col-xs-2" style="text-align:center">
            <h4>vs.</h4>
        </div>
        <div class="col-xs-5">
            <div id="random-player2" class="slotMachineContainer">

            </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          <button id="matchPlayers" type="button" class="btn btn-primary">
            <i class="fa fa-random" aria-hidden="true"></i> Create Game
          </button>
        </div>
      </div>
      <legend>Players Waiting</legend>
      <div class="container">
        <div class="row">
          <div id="waitingPlayers">
            <div class="label label-success" style="float:left;margin-right:5px;">No players waiting</div>
            <div class="label label-info" style="float:left;margin-right:5px;">DC</div>
            <div class="label label-info" style="float:left;margin-right:5px;">John</div>
            <div class="label label-info" style="float:left;margin-right:5px;">joe</div>
            <div class="label label-info" style="float:left;margin-right:5px;">Colin</div>
            <div class="label label-info" style="float:left;margin-right:5px;">Smith</div>
            <div class="label label-info" style="float:left;margin-right:5px;">Peterson</div>
            <div class="label label-info" style="float:left;margin-right:5px;">asdasd asd as dasd s</div>
            <input type="text" class="form-control" id="waiting-player" name="waiting-player" minlength="2" maxlength="50" placeholder="Your Name" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
