/*------------------------------
  Custom CSS -------------------
------------------------------*/
body {overflow-x: hidden;}

button.createGame {
  margin-top: 5px;
}

a.queueDeleteGame {
  margin-top: 2px;
}

/*------------------------------
  Sticky Footer Styles ---------
------------------------------*/
html {
  position: relative;
  min-height: 95%;
}
body {
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.container .text-muted {
  margin: -10px 10px 10px;
}

/*------------------------------
  Typeahead.js -----------------
------------------------------*/
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    margin-top: 2px;
    padding: 0px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    text-align: left;
}

.tt-suggestion {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/*------------------------------
  modal iOS Fix ----------------
------------------------------*/
.playerRow {
    cursor: pointer;
}


/*----------------------------------
DC
------------------------------------*/
@media (min-width: 1200px) {
  body{
   background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
    background-repeat: no-repeat;
  }
}
.dc .header {
    text-align: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    color:white;
}

.dc .players {
  margin-top:50px;
  /*position:relative;*/
  height:100px;
  font-size:5em;
}
.dc .players .player {
  height:230px;
  color:white;
  padding:20px;
  position:relative;
  text-align: center;
}
.dc .players .player .playername {
  color:black;
}
.dc .player .stage {
  width: 200px;
  height: 200px;
  display: inline-block;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
.disc {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
    border-radius: 50%;
  width:200px;
  height:200px;
  position:relative;
  line-height: 200px;
}
.disc.player1 {
  background: radial-gradient(circle at 50px 50px, #5cabff, #000);
}
.disc.player2 {
  background: radial-gradient(circle at 50px 50px, #abff5c, #000);
}
.disc:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 2%;
  opacity: 0.6;
  height: 100%;
  width: 96%;
  filter: blur(5px);
  z-index: 2;
}
.disc:after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%,  rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  -webkit-transform: translateX(-60px) translateY(-50px) skewX(-20deg);
  -moz-transform: translateX(-60px) translateY(-50px) skewX(-20deg);
  -ms-transform: translateX(-60px) translateY(-50px) skewX(-20deg);
  -o-transform: translateX(-60px) translateY(-50px) skewX(-20deg);
  transform: translateX(-60px) translateY(-50px) skewX(-20deg);
  -webkit-filter: blur(10px);
}

.disc .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-100px);
  -moz-transform: rotateX(90deg) translateZ(-100px);
  -ms-transform: rotateX(90deg) translateZ(-100px);
  -o-transform: rotateX(90deg) translateZ(-100px);
  transform: rotateX(90deg) translateZ(-100px);
  z-index: -1;
}
.dc .player h2 {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    letter-spacing: -0.04em;
    font-size: 37%;
    text-align: center;
    line-height:250px;
    width:200px;
}

.disc .number {
  width: 70px;
  height: 70px;
  margin: 35%;
  background: white;
  border-radius: 50%;
  transform: translateX(-63px) translateY(-46px) skewX(15deg) skewY(2deg);
  position: absolute;
}
.disc .number:before {
      display: block;
    position: absolute;
    text-align: center;
    height: 70px;
    width: 70px;
    left: 50px;
    margin-left: -46px;
    top: 24px;
    margin-top: -40px;
    color: black;
    font-family: Arial;
    font-size: 60px;
    line-height: 104px;
}
.disc .number1:before {
  content: "1";
}
.disc .number2:before {
  content: "2";
}

.randomizeMachine{
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-align: center;
}

