/*------------------------------
  Custom CSS -------------------
------------------------------*/
body {overflow-x: hidden;}

button.createGame {
  margin-top: 5px;
}

a.queueDeleteGame {
  margin-top: 2px;
}

/*------------------------------
  Sticky Footer Styles ---------
------------------------------*/
html {
  position: relative;
  min-height: 95%;
}
body {
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.container .text-muted {
  margin: -10px 10px 10px;
}

/*------------------------------
  Typeahead.js -----------------
------------------------------*/
.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu {
    width: 100%;
    margin-top: 2px;
    padding: 0px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    text-align: left;
}

.tt-suggestion {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

/*------------------------------
  modal iOS Fix ----------------
------------------------------*/
.playerRow {
    cursor: pointer;
}


/*----------------------------------
DC
------------------------------------*/
@media (min-width: 1200px) {
  body.screen {
   background: linear-gradient(to bottom, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
    background-repeat: no-repeat;
  }
}

.dc .players .player {
  text-align: center;
}
.dc .players .player .playername {
  color:black;
}

.randomizeMachine{
  width: 100%;
  height: 50px;
  overflow: hidden;
  text-align: center;
}


.hit-the-floor {
  color: #fff;
  font-size: 8em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  text-align: center;
}



.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
