<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PoolCue</a>
      <div class="navbar-text">Playing as <span data-bind="text:PlayerName"></span></div>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#currentgame">Game</a></li>
        <li><a href="#newgame">New Game</a></li>
        <li><a href="#queue" data-bind="visible: HasQueue">Queue</a></li>
        <li><a href="#waiting" data-bind="visible: HasWaiting">Waiting</a></li>
        <li><a href="#info">Info</a></li>
        <li><a href="#signout" data-bind="click: SignOut">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div data-bind="currentgame"></div>
      <div data-bind="gamequeue"></div>
      <div data-bind="waitinggame"></div>
      <div data-bind="manualgame"></div>
    </div>
    <div class="col-sm-12 col-lg-6" data-bind="leaderboard"></div>
  </div>
  <div class="row">
  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="modalLabel"></h4>
      </div>
      <div class="modal-body text-center" id="modalContent">
      </div>
    </div>
  </div>
</div>

<footer>
</footer>