<div class="container">
    <div class="page-header">
        <h2>Information</h2>
    </div>
    <p class="">
    <i class="fa fa-github-alt fa-fw" aria-hidden="true"></i>
    - There's no place like <a href="https://github.com/JamiePrentice/EloEloElo">home</a>
    &nbsp; | &nbsp;
    <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
    - Wtf is <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo?</a>
    &nbsp; | &nbsp;
    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
    - Suggestions or Bugs? <a href="https://github.com/JamiePrentice/EloEloElo/issues">Log it!</a>
    </p>
    <p class="text-muted visible-xs">
    <i class="fa fa-github-alt fa-fw" aria-hidden="true"></i>
    <a href="https://github.com/JamiePrentice/EloEloElo">GitHub</a> |
    <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
    Wtf is <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo?</a> |
    <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
    <a href="https://github.com/JamiePrentice/EloEloElo/issues">Bugs</a>
    </p>
</div>