<div class="page-header">
    <h1>Leaderboard</h1>
</div>
<div class="container-fluid">
    <table class="table table-condensed table-striped">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="text-right">Wins</th>
                <th class="text-right">Losses</th>
                <th class="text-right hidden-xs">Delta</th>
                <th class="text-right">Elo</th>
            </tr>
        </thead>
        <tbody class="scoreboard"></tbody>
    </table>
</div>
