<div class="page-header">
    <h1>Leaderboard</h1>
</div>
<div class="container-fluid">
    <div data-bind="visible: !HasPlayers" class="panel panel-info">
        <div class="panel-heading">Hmmm...</div>
        <h4>
            No players have registered
        </h4>
        <br />
    </div>
    <table class="table table-condensed table-striped" data-bind="visible: HasPlayers">
        <thead class="thead-default">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th class="text-right">Wins</th>
                <th class="text-right">Losses</th>
                <th class="text-right hidden-xs">Delta</th>
                <th class="text-right">Elo</th>
            </tr>
        </thead>
        <tbody class="scoreboard" data-bind="foreach:PlayerData">
            <tr>
                <td></td>
                <td>
                    <div data-bind="text:name"></div>
                </td>
                <td>
                    <div data-bind="text:wins"></div>
                </td>
                <td>
                    <div data-bind="text:losses"></div>
                </td>
                <td>
                    <div data-bind="text:name"></div>
                </td>
                <td>
                    <div data-bind="text:elo"></div>
                </td>
            </tr>
        </tbody>

    </table>
</div>