<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PoolCue</a>
        
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#notifications">Notifications</a></li>
        <li><a href="#">Game</a></li>
        <li><div class="navbar-text">Playing as <span data-bind="text:PlayerName"></span></div></li>
        <li><a href="#signout" data-bind="click: SignOut">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<h2>Notification Settings</h2>
<div class="jumbotron">
    <h5>Hello <span data-bind="text:PlayerName"></span>!</h5>

    <div class="container">
        <div class="row">
            <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="playerName">Mobile Telephone number : </label>
                        <div class="col-sm-10">
                            <input type="tel" id="phone" data-bind="valueUpdate: 'afterkeydown', telephone:{ target:MobileNumber}, value: MobileNumber" />
                            <p style="font-size:70%">(set blank to stop notifications)</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="playerName">Enable Notifications : </label>
                        <div class="col-sm-10">
                            <input type="checkbox" data-bind="checked:EnableNotifications,switch:{ target:EnableNotifications}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" data-bind="click:Save">Save</button>
                        </div>
                    </div>
                    <div class="alert alert-success" id="success-alert" data-bind="alert: DidSave" >
                        <strong>OK</strong>
                        Your changes have been saved.
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>