<div class="row">
  <div class="col-lg-8">
    <section class="dc visible-lg" data-bind="if:HasGame()">
      <legend id="currentgame">
        Current Game
      </legend>
      <div class="">
        <div class="row players text-center hit-the-floor">
          <span data-bind="text: Player1"></span>
          <div style="font-size:50%; ">vs.</div>
          <span data-bind="text: Player2"></span>
        </div>
        <div style="clear:both"></div>
      </div>
    </section>
    <section class="jumbotron" data-bind="if:!HasGame()">
      <div class="panel-heading text-center bg-success">
        <h2 style="line-height:500px">The table is free</h2>
      </div>
    </section>

    <!-- Game Queue -->
    <section class="dc visible-lg" data-bind="if:HasQueue()">
      <legend>Next <span data-bind="text:NextGamesCount"></span> games (<span data-bind="text:GamesData().length - 1"></span>
        <span data-bind="if:GamesData().length > 2">Games</span>
        <span data-bind="if:GamesData().length == 2">Game</span> in Queue)</legend>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="text-center bg-primary">Player 1</th>
            <th class="text-center bg-primary"></th>
            <th class="text-center bg-primary">Player 2</th>
            <th class="hidden-lg"></th>
          </tr>
        </thead>
        <tbody data-bind="foreach:GamesData().slice(0,5)">
          <!-- ko if: $index() != 0 -->
          <tr>
            <td class="col-xs-5 text-center" data-bind="text:player1"></td>
            <td class="col-xs-2 text-center">vs.</td>
            <td class="col-xs-5 text-center" data-bind="text:player2"></td>
            <td class="col-xs-1 hidden-lg"><button class="btn btn-xs btn-default" data-bind="click: $parent.RemoveGame"><i class="fa fa-fw fa-trash"></i></button></td>
          </tr>
          <!-- /ko -->
        </tbody>
      </table>
    </section>
  </div>

  <div class="col-lg-4">
    <!-- Leaderboard -->
    <div class="large-leaderboard">
      <legend>Leaderboard</legend>
      <table class="table table-bordered table-condensed table-striped" data-bind="visible: HasPlayers">
        <thead>
          <tr>
            <th class="text-center bg-primary">#</th>
            <th class="text-center bg-primary">Name</th>
            <th class="text-center bg-primary">Elo</th>
          </tr>
        </thead>
        <tbody class="scoreboard" data-bind="foreach:PlayerData().slice(0,20)">
          <tr>
            <td>
              <div data-bind="text:$index()+1"></div>
            </td>
            <td>
              <div data-bind="text:name"></div>
            </td>
            <td>
              <div data-bind="text:elo"></div>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
  <!-- Waiting List -->
  <div id="waitinglist" class="navbar navbar-fixed-bottom" style="padding:20px;">
    <legend><span data-bind="text:WaitingList().length"></span> <span data-bind="if:WaitingList().length > 1">Players</span>
      <span data-bind="if:WaitingList().length == 1">Player</span> in Waiting List</legend>
    <div class="panel-body" data-bind="foreach:WaitingList" style="margin-bottom:20px;">
      <p class="label label-default" data-bind="text: player" style="font-size:200%"></p>
    </div>
  </div>
