<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PoolCue</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#currentgame">Game</a></li>
        <li><a href="#newgame">New Game</a></li>
        <li><a href="#queue" data-bind="visible: HasQueue">Queue</a></li>
        <li><a href="#waiting" data-bind="visible: HasWaiting">Waiting</a></li>
        <li><a href="#info">Info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li style="margin:10px;margin-top:15px">
          <div class="pull-right" data-bind="visible: router.isNavigating">
            <i class="fa fa-li fa-refresh fa-inverse fa-2x fa-spin"></i>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="container">
  <div data-bind="currentgame"></div>
  <div data-bind="gamequeue"></div>
  <div data-bind="waitinggame"></div>
  <div data-bind="leaderboard"></div>
  <div data-bind="manualgame"></div>
</div>