<footer class="footer">
  <div class="container">
    <hr/>
      <p class="text-muted hidden-xs">
        <i class="fa fa-github-alt fa-fw" aria-hidden="true"></i>
        - There's no place like <a href="https://github.com/JamiePrentice/EloEloElo">home</a>
        &nbsp; | &nbsp;
        <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
        - Wtf is <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo?</a>
        &nbsp; | &nbsp;
        <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
        - Suggestions or Bugs? <a href="https://github.com/JamiePrentice/EloEloElo/issues">Log it!</a>
      </p>
      <p class="text-muted visible-xs">
        <i class="fa fa-github-alt fa-fw" aria-hidden="true"></i>
        <a href="https://github.com/JamiePrentice/EloEloElo">GitHub</a> |
        <i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>
        Wtf is <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo?</a> |
        <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
        <a href="https://github.com/JamiePrentice/EloEloElo/issues">Bugs</a>
      </p>
    </div>
</footer>

<script src="jquery/jquery.min.js"></script>
<script src="jQuery-SlotMachine/dist/jquery.slotmachine.min.js"></script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<script src="typeahead.js/dist/typeahead.bundle.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script src="custom.js"></script>
</body>
</html>
