    <footer class="footer">
      <div class="container">
          <hr>
        <p class="text-muted">
            <i class="fa fa-github-alt fa-fw" aria-hidden="true"></i>
            - Where software is <a href="https://github.com/JamiePrentice/EloEloElo">built</a>
            &nbsp; | &nbsp;
            <i class="fa fa-question fa-fw" aria-hidden="true"></i>
            - Wtf is <a href="https://en.wikipedia.org/wiki/Elo_rating_system">elo?</a>
            &nbsp; | &nbsp;
            <i class="fa fa-bug fa-fw" aria-hidden="true"></i>
            - Suggestions or Bugs? <a href="https://github.com/JamiePrentice/EloEloElo/issues">Log it!</a>
        </p>
      </div>
    </footer>

    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="custom.js"></script>
    </body>
</html>
